.category-card {
  position: relative;
  width: 280px;
  height: 190px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--simple-color);
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.category-card:last-child {
  margin-right: 0;
}

.category-card__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.category-card__title {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.category-card__close {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
}

.category-card__count_num {
  font-weight: bold;
}

.category-card__category-update {
  margin-top: 40px;
}

.category-card__label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--simple-color);
}

.category-card__input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--simple-color);
  font-size: 18px;
}

.category-card__cancel > .admin-btn {
  border-color: var(--error-color);
  color: var(--error-color)
}
