.game-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.game-controller__btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--light-color);
  outline: none;
  background-color: var(--bg-game-controller);
  border-radius: 8px;
  border: none;
  transition: .5s;
  cursor: pointer;
}

.game-controller__btn_round {
  border-radius: 50%;
}

.game-controller__btn:disabled {
  height: 0;
  opacity: 0;
}

.game-controller__img {
  width: 40px;
  height: 40px;
}
