.category-card__adding-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid var(--simple-color);
  color: var(--simple-color);
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  font-size: 40px;
  transform: translate(-50%, -50%);
}
