:root {
  --main-color: #00d10a;
  --basic-color: #ff62b3;
  --gold-color: yellow;
  --error-color: red;
  --main-gradient-start: rgba(0, 209, 10, 0.8);
  --main-gradient-end: rgba(0, 209, 10, 0.3);
  --basic-gradient-start: rgba(255,98,179, .8);
  --basic-gradient-end: rgba(255,98,179, .3);
  --simple-color: #5c5c5c;
  --simple-gradient-start: rgba(92,92,92, .5);
  --simple-gradient-end: rgba(92,92,92, .1);
  --primary-color: #888888;
  --light-color: #fff;
  --dark-color: #000;
  --shadow-color: 5px 0px 15px rgba(0, 0, 0, .2);
  --shadow-hov-color: 5px 0px 15px rgba(0, 0, 0, .8);
}

.app[data-theme="train"] {
  --bg-toggle-switch: var(--main-color);
  --color-text: var(--primary-color);
  --color-text-hov: var(--light-color);
  --bg-hamburger: var(--main-color);
  --br-menu-item: var(--main-color);
  --bg-act-menu-item: linear-gradient(123deg, var(--main-gradient-start), var(--main-gradient-end));
  --br-hov-menu-item: var(--simple-color);
  --bg-hov-menu-item: linear-gradient(to right, var(--simple-gradient-start), var(--simple-gradient-end));
  --bg-category: linear-gradient(to top, var(--light-color) 60%, var(--main-color) 40%);
  --bg-arrows: var(--main-color);
  --br-word: var(--main-color);
  --bg-game-controller: var(--basic-color);
  --bg-thead: var(--main-color);
  --bg-statistic-btn: var(--main-color);
}

.app[data-theme="play"] {
  --bg-toggle-switch: var(--basic-color);
  --color-text: var(--primary-color);
  --color-text-hov: var(--light-color);
  --bg-hamburger: var(--basic-color);
  --br-menu-item: var(--basic-color);
  --bg-act-menu-item: linear-gradient(to right, var(--basic-gradient-start), var(--basic-gradient-end));
  --br-hov-menu-item: var(--simple-color);
  --bg-hov-menu-item: linear-gradient(to right, var(--simple-gradient-start), var(--simple-gradient-end));
  --bg-category: linear-gradient(to top, var(--light-color) 60%, var(--basic-color) 40%);
  --bg-arrows: var(--basic-color);
  --br-word: var(--basic-color);
  --bg-game-controller: var(--basic-color);
  --bg-thead: var(--basic-color);
  --bg-statistic-btn: var(--basic-color);
}
