table {
  margin: 20px 0;
  border-collapse: collapse;
}

thead {
  background-color: var(--bg-thead);
}

thead button {
  width: 100%;
  background-color: transparent;
  color: var(--light-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

thead button:hover {
  color: var(--gold-color);
}

tr {
  height: 30px;
  border-bottom: 2px solid var(--dark-color);
}

thead tr {
  border-bottom: 1px solid var(--light-color);
}

th:first-child,
td:first-child {
  width: 150px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 150px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 150px;
}

th:last-child,
td:last-child {
  width: 50px;
}
