.statistics-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 20px;
}

.statistics-header > .hamburger-menu {
  margin-right: auto;
}

.statistics-header > button {
  height: 40px;
  background-color: var(--bg-statistic-btn);
  color: var(--light-color);
  border: none;
  outline: none;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
}
